@import '../styleguide/typography';

.input-color {
  cursor: pointer;
  margin: 5px 0 10px 2px; // left-margin space to accommodate browser focus display
}

.color-label {
  @include input-text();

  cursor: pointer;
  margin-left: 10px;
  vertical-align: middle;
}
